:root {
    --pagemargin:5%;
}

body {
    font-size:25px;
    font-family:'Georgia', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family:'Georgia', sans-serif;
    letter-spacing:0.05em; 
    text-transform:uppercase;
}

p {
    line-height:150%;
}

a {
    color:rgb(242, 109, 7);
    transition:color 0.3s ease;
    font-weight:600;
}


header {
    background-color:rgb(242, 109, 7);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0 var(--pagemargin);
    align-items:center;
}

header h1 {
    color:#fff;
    font-size:5rem;
    padding:12px 0 0;
    margin:0;
}

header ul {
    margin:0;
    padding:0;
    list-style:none; 
}

header ul li {
    margin:0 0 0 30px;
    padding:0;
    display:inline;
}

header ul li a { 
    color:rgb(16, 3, 197);
    text-decoration:none;
    font-size:1.3rem;
}

header ul li a:hover { 
    color: rgb(242, 109, 7);
    text-decoration:underline;
}

section.hero {
    background-color:rgb(16, 3, 197);
    background-repeat:no-repeat;
    background-size:100% auto; 
    background-position:right top;
    padding:0 var(--pagemargin);
    height: 125px;
    display:flex;
    flex-direction:column-reverse;
}

section.hero h2 {
    margin:0;
    padding:20px 0;
    color:#fff;
    font-size:2.5rem;
    font-weight:200;
}

#about h3, #work h3, #contact h3 {
    font-size:2.5rem;
    font-weight:200;
    width:100%;
    border-bottom:2px solid rgb(16, 3, 197);
}

#about {
    padding:40px var(--pagemargin);
}

#work {
    display:flex;
    direction:row;
    flex-wrap:wrap;
    padding:0 var(--pagemargin);
}


div[class="card"] {
    background-size:cover; 
    background-position:center top;
    background-repeat:no-repeat;
    transition:filter 1s ease-in-out;
    margin-bottom:20px;
    display:flex;
    align-items:flex-end;
}

div.card-2, div.card-3, div.card-4, div.card-5 {
    width:48%;
    height:200px;
}

div[class="card"]:nth-child(even) {
    margin-left:2%;
}

div[class="card"]:nth-child(odd) {
    margin-left:0;
    margin-right:2%;
}

.card-1 { 
    background-image:url(/desktop/images/digital-marketing-meeting.jpg);
    width:100%;
    height:400px;
    margin-left:0;
}

.card-2 {
    background-image:url(../Desktop/comingsoon.jpeg);
}

.card-3 {
    background-image:url(../Desktop/comingsoon.jpeg);
}

.card-4 {
    background-image:url(../Desktop/comingsoon.jpeg);
}

.card-5 {
    background-image:url(../Desktop/comingsoon.jpeg);
}

.card-info {
    background-color:rgb(16, 3, 197);
    color:rgb(242, 109, 7);
    font-size:1.25rem;
    padding:8px 40px;
    width:300px;
    max-width:100%;
    cursor:pointer;
    flex-direction:column;
}

.card-info h4, .card-info p {
    margin:0;
    padding:0;
    align-self:flex-start;
    max-width:100%;
}

.card-info p { 
    font-family:'Georgia', sans-serif;
    text-transform:uppercase;
    font-weight:200;
}

#contact {
    padding:40px var(--pagemargin) 80px;
    background-color:rgb(16, 3, 197);
    margin-top:60px;
}

#contact h3, #contact p, #contact a {
    color:rgb(242, 109, 7);
    text-decoration:none;
}

#contact h3{
    color:#fff;
    border-bottom:2px solid #fff;
}

@media (min-width:1400px) {
    section.hero {
        height:300px;
    }
}

@media (max-width:1200px) {
    header h1 { 
        font-size:4.25rem; 
    }

    header ul li a {
        font-size:1.1rem;
    }

    section.hero {
        height:125px;
    }
}

@media (max-width:1000px) {
    header {
        flex-direction:column;  
    }

    header h1 { 
        align-self:flex-start;
    }

    header nav {
        align-self:flex-start;
        padding:16px 0;
    }

    header nav ul li { 
        margin-left:0; 
        margin-right:25px;
    }

    div.card-1, div.card-2, div.card-3, div.card-4, div.card-5 {
        width:100%;
        height:160px;
    }
    
    div[class="card"]:nth-child(even) {
        margin-left:0;
        margin-right:0;
    }
    
    div[class="card"]:nth-child(odd) {
        margin-left:0;
        margin-right:0;
    }
}

@media (max-width:480px) {
    header h1 { 
        font-size:2.5rem; 
    }

    header ul li a {
        font-size:.85rem;
        margin-right:10px;
    }